<div class="confirm-wrapper">
  <p>{{data.text}}</p>
  <div class="confirm-wrapper__buttons">
    <button (click)="close(true)">Yes</button>
    <button (click)="close(false)">No</button>
  </div>
</div>
