.confirm-wrapper {
  font-size: 18px;
  color: var(--colorSky);
  &__buttons {
    display: flex;
    justify-content: space-between;
    button {
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      background-color: var(--colorSky);
      color: var(--colorWhite);
    }
  }
}
