/*.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 245px;
  h1 {
    color: var(--colorGreenDark);
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    label {
      align-self: start;
      margin-bottom: 10px;
      margin-top: 10px;
      font: {
        family: 'Hind Madurai', sans-serif;
        style: normal;
        weight: normal;
        size: 18px;
      }
      line-height: 25px;
      color: var(--colorGray);
    }

    input {
      padding: 1.3em 1em;
      font-size: 1em;
      background: #F5F5F5;
      box-shadow: inset 3px 3px 3px var(--colorWhiteLight), inset -3px -3px 6px var(--colorWhite);
      border-radius: 3px;
      box-sizing: border-box;
      border: 2px solid #F5F5F5;

      &:focus {
        border: 2px solid var(--colorSky);
      }
    }

    div {
      border-radius: 3px;
      width: max-content;
      text-align: left;
      font-size: 14px;
      line-height: 25px;
      align-self: start;
      margin-top: 5px;
      color: var(--colorWarning);
      max-width: 100%;
      display: flex;
    }

    button {
      cursor: pointer;
      margin: 15px auto 0;
      height: max-content;
      padding: 10px 15px;
      min-width: min-content;
      background-color: var(--colorSky);
      color: var(--colorWhite);
      box-shadow: 2px 2px 5px #D7D7D7, -3px -4px 6px var(--colorSky), inset 1px 1px 3px var(--colorSky);
    }
  }
}*/
