<div class="wrapper-pop-up">
  <h1>Sign up</h1>
  <form [formGroup]="sigUpForm" (ngSubmit)="onSubmit()">
    <label>Name</label>
    <input type="text" formControlName="name" name="text" required>
    <div *ngIf="sigUpForm.controls.name.invalid &&
            (sigUpForm.controls.name.dirty || sigUpForm.controls.name.touched)">
      {{validService.showErrorsMessage(sigUpForm.controls.name, 'Name')}}
    </div>
    <label>Password</label>
    <input type="password" formControlName="password" name="password" pattern="^(?=.*\d).+$" required>
    <div *ngIf="sigUpForm.controls.password.invalid &&
            (sigUpForm.controls.password.dirty || sigUpForm.controls.password.touched)">
      {{validService.showErrorsMessage(sigUpForm.controls.password, 'Password')}}
    </div>
    <label>Confirm password</label>
    <input type="password" formControlName="confirmPassword" name="confirmPassword" required>
    <div *ngIf="(sigUpForm.controls.confirmPassword.invalid || checkConfirmError()) &&
            (sigUpForm.controls.confirmPassword.dirty || sigUpForm.controls.confirmPassword.touched)">
      {{checkConfirmError() ? checkConfirmError() : validService.showErrorsMessage(sigUpForm.controls.confirmPassword, 'Confirm password')}}
    </div>
    <button type="submit" class="main-button primary">Sign up</button>
  </form>
</div>
