<div class="wrapper">
  <div class="wrapper__menu">
    <button class="menu__upload" (click)="upload()">
      Upload file
    </button>
  </div>
  <div appCheckScroll  class="wrapper__content">
    <div class="gif" *ngFor="let gif of gifs?.data">
      <img [src]="gif.images.downsized.url" [alt]="gif.title" (click)="showGif(gif.images.downsized.url, gif.title)">
      <div class="gif__name">{{gif.title}}</div>
      <div class="gif__button"><span class="material-icons" (click)="changeAvatar(gif.id)">portrait</span><span class="material-icons" (click)="deleteGif(gif.id)">delete</span></div>
    </div>
  </div>
</div>
