.wrapper__menu {
  padding: 10px;
  display: grid;
  //.menu__page {
  //  width: 100%;
  //  text-align: center;
  //  margin-top: 10px;
  //  color: var(--colorSky);
  //  text-decoration: underline;
  //  cursor: pointer;
  //  outline: none;
  //}
  .menu__upload {
    //margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--colorSky);
    color: var(--colorWhite);
    box-shadow: 2px 2px 5px #D7D7D7, -3px -4px 6px var(--colorSky), inset 1px 1px 3px var(--colorSky);
    border-radius: 3px;
    cursor: pointer;
  }
}
