<div class="wrapper-pop-up">
  <h1>Upload gif</h1>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <label>User name</label>
    <input type="text" formControlName="username" name="text" required>
    <div *ngIf="uploadForm.controls.username.invalid &&
            (uploadForm.controls.username.dirty || uploadForm.controls.username.touched)">
      {{validService.showErrorsMessage(uploadForm.controls.username, 'Username')}}
    </div>
    <label>Tag</label>
    <input type="text" formControlName="tags" name="text" required>
    <div *ngIf="uploadForm.controls.tags.invalid &&
            (uploadForm.controls.tags.dirty || uploadForm.controls.tags.touched)">
      {{validService.showErrorsMessage(uploadForm.controls.tags, 'Tag')}}
    </div>
    <label for="select-file">Choice gif</label>
    <div class="input__wrapper">
      <span class="material-icons">folder</span>
      <input id="select-file" type="file" (change)="saveImage($event.target.files)" accept="image/gif">
      <input type="text" [value]="fileName" disabled>
    </div>
    <div *ngIf="uploadForm.controls.file.invalid &&
            (uploadForm.dirty || uploadForm.touched)">
      {{validService.showErrorsMessage(uploadForm.controls.file, 'File')}}
    </div>
    <button type="submit" class="main-button primary" [disabled]="disabled">Upload</button>
  </form>
</div>
