.input__wrapper {
  position: relative;
  input[type=file] {
    opacity: 0;
    z-index: 40;
  }
  input[type=text] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    padding-left: 40px;
  }
  span {
    position: absolute;
    top: 14px;
    left: 12px;
    z-index: 30;
    color: var(--colorSky);
  }
}
