<div class="wrapper-pop-up">
  <h1>Sign in</h1>
  <form [formGroup]="sigInForm" (ngSubmit)="onSubmit()">
    <label>Name</label>
    <input type="text" formControlName="name" name="text" required>
    <div *ngIf="sigInForm.controls.name.invalid &&
            (sigInForm.controls.name.dirty || sigInForm.controls.name.touched)">
      {{validService.showErrorsMessage(sigInForm.controls.name, 'Name')}}
    </div>
    <label>Password</label>
    <input type="password" formControlName="password" name="password" pattern="^(?=.*\d).+$" required>
    <div *ngIf="sigInForm.controls.password.invalid &&
            (sigInForm.controls.password.dirty || sigInForm.controls.password.touched)">
      {{validService.showErrorsMessage(sigInForm.controls.password, 'Password')}}
    </div>
    <button type="submit" class="main-button primary">Sign in</button>
  </form>
</div>
