.header {
  background: var(--colorLight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 80px;
  margin-bottom: 10px;
  &__pages {
    color: var(--colorBrown);
    width: 40%;
    display: flex;
    justify-content: flex-start;
    div{
      margin-left: 20px;
      cursor: pointer;
      outline: none;
    };
  }
  &__title {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--colorWhite);
    border-radius: 50%;
    background-size: cover;
    span {
      font-weight: 500;
      text-align: center;
      color: var(--colorWhiteLight);
    }
  }
  &__profile {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: var(--colorBrown);
    .avatar {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-size: cover;
    }
  }
  &__buttons {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    color: var(--colorWhite);
    button {
      background: var(--colorSky);
      box-shadow: 2px 2px 5px #D7D7D7, -3px -4px 6px var(--colorSky), inset 1px 1px 3px var(--colorSky);
      border-radius: 3px;
      color: var(--colorWhite);
      padding: 10px 15px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}

.phone-menu {
  display: none;
  position: relative;
  cursor: pointer;
  &__wrapper {
    position: absolute;
    top: 25px;
    right: 0;
    padding: 10px 10px 5px;
    width: max-content;
    background-color: var(--colorLightBlue);
    color: var(--colorWhite);
    box-shadow: 2px 2px 5px var(--colorWhiteLight), -3px -4px 6px var(--colorWhiteLight), inset 1px 1px 3px var(--colorWhiteLight);
    z-index: 60;
    div {
      padding: 2px 4px;
      border: 1px solid var(--colorWhite);
      margin-bottom: 5px;
      outline: none;
      cursor: pointer;
    };
  }
}

@media (max-width: 650px) {
  .phone-menu {
    display: block;
    color: var(--colorSky);
  }
  .header__pages, .header__buttons {
    display: none;
  }
}
