<header class="header">
  <div class="header__pages centered">
    <div [ngClass]="{'td_underline': currentUrl === 'main'}" routerLink="/dashboard/main">Main</div>
    <div [ngClass]="{'td_underline': currentUrl === 'user-collection'}" (click)="goToMyCollection()">My collection</div>
  </div>
  <div class="header__title"
       [style.backgroundImage]="logo ? 'url('+ logo.data.images['preview_webp'].url + ')' : '#17e250'">
    <span>DJCT</span>
  </div>
  <div class="header__buttons">
    <ng-container *ngIf="!userService.user">
      <button class="header__buttons_sing-in" (click)="singIn()">
        Sing in
      </button>
      <button class="header__buttons_sing-up" (click)="singUp()">
        Sing up
      </button>
    </ng-container>
    <ng-container *ngIf="userService.user">
      <div class="header__profile">
        <span class="avatar" [style.backgroundImage]="userService.userAvatar ? 'url('+ userService.userAvatar + ')' : '#17e250'" alt="avatar"></span>
        <span>{{userService.user.name}}</span>
      </div>
      <button class="header__buttons_log-out" (click)="logOut()">
        Log out
      </button>
    </ng-container>
  </div>
  <div class="phone-menu centered">
    <span class="material-icons" (click)="showPhoneMenu = !showPhoneMenu">table_rows</span>
    <div *ngIf="showPhoneMenu" appCheckTargetClick class="phone-menu__wrapper" (hide)="showPhoneMenu = $event">
      <div [ngClass]="{'active': currentUrl === 'main'}" routerLink="/dashboard/main">Main</div>
      <div [ngClass]="{'active': currentUrl === 'user-collection'}" (click)="goToMyCollection()">My collection</div>
      <div *ngIf="userService.user" (click)="logOut()">
        Log out
      </div>
      <div *ngIf="!userService.user" (click)="singIn()">
        Sing in
      </div>
      <div *ngIf="!userService.user" (click)="singUp()">
        Sing up
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
