// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$DjTest-primary: mat-palette($mat-indigo);
$DjTest-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$DjTest-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$DjTest-theme: mat-light-theme($DjTest-primary, $DjTest-accent, $DjTest-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($DjTest-theme);

* {
  --colorLight: #c0d2c5;
  --colorWhite: #fff;
  --colorSky: #5898ef;
  --colorBlack: #000;
  --colorGray: #8c8c8c;
  --colorWhiteLight: #D7D7D7;
  --colorWarning: #ff652f;
  --colorGreenDark: #69b57e;
  --colorBrown: rgba(142, 61, 41, 0.9);
  --colorLightBlue: #a4c5f3;
  padding: 0;
}

button, button:focus {
  border: none;
  outline: none;
}

input {
  outline: none;
}

.wrapper {
  display: flex;
  padding: 10px;

  &__menu {
    flex: 200px;
    height: max-content;
    border: 2px solid var(--colorLight);
    box-shadow: 2px 2px 5px #D7D7D7, -3px -4px 6px var(--colorWhiteLight), inset 1px 1px 3px var(--colorLight);
    margin-top: 10px;
  }

  &__content {
    flex: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    margin-left: 20px;

    .gif {
      width: 200px;
      margin: 10px;
      position: relative;

      img {
        width: 100%;
        height: 200px;
        z-index: 10;
        cursor: pointer;
        background: var(--colorLight);
      }

      &__name {
        text-align: center;
        padding: 5px 10px;
      }

      &__button {
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--colorLight);
        z-index: 20;
        cursor: pointer;
      }
    }
  }
}

.wrapper-pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 245px;

  h1 {
    color: var(--colorGreenDark);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    label {
      align-self: start;
      margin-bottom: 10px;
      margin-top: 10px;
      font: {
        family: 'Hind Madurai', sans-serif;
        style: normal;
        weight: normal;
        size: 18px;
      }
      line-height: 25px;
      color: var(--colorGray);
    }

    input {
      padding: 10px;
      font-size: 1em;
      background: #F5F5F5;
      box-shadow: inset 3px 3px 3px var(--colorWhiteLight), inset -3px -3px 6px var(--colorWhite);
      border-radius: 5px;
      box-sizing: border-box;
      border: 2px solid #F5F5F5;

      &:focus {
        border: 2px solid var(--colorSky);
      }
    }

    div {
      border-radius: 3px;
      width: max-content;
      text-align: left;
      font-size: 14px;
      line-height: 25px;
      align-self: start;
      margin-top: 5px;
      color: var(--colorWarning);
      max-width: 100%;
      display: flex;
    }

    button {
      cursor: pointer;
      margin: 20px auto 0;
      height: max-content;
      padding: 10px 15px;
      min-width: min-content;
      background-color: var(--colorSky);
      color: var(--colorWhite);
      box-shadow: 2px 2px 5px var(--colorWhiteLight), -3px -4px 6px var(--colorSky), inset 1px 1px 3px var(--colorSky);
    }
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.td_underline {
  text-decoration: underline;
}

.active {
  opacity: 0.5;
  background-color: var(--colorSky);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 540px) {
  .wrapper {
    display: list-item;

    .wrapper__menu {
      flex: none;
    }

    .wrapper__content {
      flex: none
    }
  }
}

@media (max-width: 500px) {

  .wrapper__content {
    justify-content: center;
  }

}
