<div class="wrapper">
  <div class="wrapper__menu">
    <div class="menu__search">
      <label for="search"><span class="material-icons">search</span></label>
      <input id="search" type="text" placeholder="Search gifs..." [(ngModel)]="searchModelText" (ngModelChange)="search($event)">
    </div>
  </div>
  <div appCheckScroll  class="wrapper__content" [checkLoad]="checkLoad" (scroll)="checkScroll($event)">
    <div class="gif" *ngFor="let gif of gifs?.data">
      <img [src]="gif.images.downsized.url" [alt]="gif.title" (click)="showGif(gif.images.downsized.url, gif.title)">
      <div class="gif__name">{{gif.title}}</div>
      <div class="gif__button" (click)="addGif(gif.id)"><span class="material-icons">add_circle_outline</span></div>
    </div>
    <div *ngIf="!checkLoad" class="gif centered">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
