.wrapper__menu {
  padding: 10px;
  display: list-item;
  .menu__search {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: max-content;
    border: 2px solid var(--colorLight);
    border-radius: 10px;
    padding: 2px 5px;
    label {
      color: var(--colorLight);
    }
    input{
      width: 80%;
      border: none;
    }
  }
  .menu__page {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: var(--colorSky);
    text-decoration: underline;
    cursor: pointer;
    outline: none;
  }
}
